
html,body{
	height: 100%;
	margin:0;
	padding: 0; 
	background-color:#29BDE0; 
	min-width: 300px;
}
header{

	height:3em ;
	background-color: #29BDE0;
	line-height: 3em;
	display: flex;
	justify-content: space-between;
	color: #fff;
	border-bottom: 1px solid #FFF;

}
header img{
	margin-top: .5em;
	margin-left: 10px;
	margin-right: 10px; 	
	height: 70%;
}

div{
	position: relative;
	width: 150px;
	height: 150px;
	border:1px solid #fff;
	background-color: #F4D085;
	margin: 50px;

	
}
div>p{
	text-align: center;
}
.occ{
	margin: 0;
	position:relative; 
	top: 50%;
	font-size: 1.5em;


	transform: translateY(-50%);

}


.num{
	position: absolute;
	margin-bottom: 0;
	width: 100%;
	bottom: 0;
	background-color: #92B7A5;
	color:#fff;
	
}
main{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;


}
button{
	display: block;
	width: 85%;
	font-size: 2em;
	
	margin-top: 1%;
	height:10%;
	min-height: 50px;
	outline: none;
	border:none;
	background-color: #FBB435;
	color: #fff;
	cursor: pointer;
	position: absolute;
	bottom: 2%;
	left: 50%;
	
	margin-left: -42.5%;

}

@media (max-width: 800px){

	div{

		width: 100px;
		height: 100px;
		margin: 20px;
	}
}
@media (max-width: 440px){

	div{
		width: 70px;
		height: 70px;
		margin: 20px;
	}
	.occ{
		font-size: 1em;
	}
	.num{
		font-size: .6em;
	}
}