.ha{
    display: none;
}
.dayHeader{
	width: 95%;
    height: 50px;
	background-color: #fff;
	margin: 10px auto;
	border: none;
	outline: none;
	line-height: 50px;
	text-align: center;
	color: #29BDE0;
	cursor: pointer;
	
}

.block{
	padding-top: 50px;
	width: 95%;
	position: relative;
	background: #fff;
	font-size: 1.5em;
	height: 450px;	
	margin: 0 auto;
}

.draw{



	
	border-left: 10px solid transparent;
	border-bottom:  10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 25px solid #29BDE0;

}
.line{

	height:110%;
	width: 2px;
	left: 28px;
	background: #888;
	position: absolute;
	z-index: 0;
}

.kill,.undead{

	position: relative;
	z-index: 999;
}
.mo {
	background: #fff;
	padding: 7px;
	border: 1px solid #999;
	border-radius: 50%;
	
}



.block span{
	display: inline-block;
}
.kill span,.undead span{
	display: inline-block;
	position: relative;
	top: -18px;
}
.speak,.vote{
	
	padding-left: 56px;


}
.speak{

	margin-top: 15px;
}
.vote{
	margin-top: 50px;
}
.lll{

	padding-left: 90px;
	font-size: .7em;
	margin-top: 0;

}
.speak span , .vote span{

	position: relative;
	top: 18px;
}


.draw~span{
	color: #FFF;
	padding: 10px;
	background: #29BDE0;
	text-align: center;
}
.a {
	width: 60%;
	margin: 0 auto;
	position: relative;

}
.line1{

	width: calc(85% - 44.8px);

}

.line2{

	width: 85%;
}

.line1,.line2{

	cursor: pointer;
}
@media (max-width: 800px){

	.a{
		width: 95%;
	}
	
	.line1{

		width: calc(70% - 44.8px);
	
	}
	
	.line2{
	
		width: 70%;
	}

}