
body{
	
}
content{
	display: flex;
	width:40%;
	flex-wrap: wrap;
	margin:0 auto;
	justify-content: center;
}
div{
	background-color: #FEA510;
	width: 30%;
	height: 12vw;
	margin: 1% 1%;
	border-radius: 10px;
}
button{
	display: block;
	width: 40%;
	height: 3vw;
	margin:1% auto;
	min-height: 40px;
	border:none;
	border:2px solid #FEA510;
	border-radius: 10px;
	background-color: white;
	color: #FEA510;
	outline: none;
}
button:active{

	background-color: #FEA510;
	color: white;
	
}
