html,body{
	height: 100%;
	margin:0;
	padding: 0; 
	background-color:#29BDE0; 
}
header{

	height:3em ;
	background-color: #29BDE0;
	line-height: 3em;
	display: flex;
	justify-content: space-between;
	color: #fff;
	border-bottom: 1px solid #FFF;

}
header img{
	margin-top: .5em;
	margin-left: 10px;
	margin-right: 10px; 	
	height: 70%;
}

main{

	height: calc(95% - 3em);
}
section{
	width: 80%;
	margin:0 auto;

	height:75%;
	background-color:#FFEDC5; 
	border: 3px solid #fff;
	margin-top: 5%;
	position: relative;
}

.radius{
	height: 2em;
	width: 2em;
	padding:.3em 0 0 .6em;
	border: 1px solid #FFEDC5;
	border-radius: 50%;
	background-color: #fff;
	box-sizing: border-box;
	margin: -1em auto;

}
section>img{
	display: block;
	margin: 0 auto;
	width: 100%;
	position:relative; 
	top: 50%;

	max-width: 270px;
	
        transform: translateY(-50%);

}
button{
	display: block;
	width: 85%;
	font-size: 2em;
	margin: 0 auto;
	margin-top: 1%;
	height:10%;
	min-height: 50px;
	outline: none;
	border:none;
	background-color: #FBB435;
	color: #fff;
}


 .sf{
	margin-top: 5%;
	padding: 0 auto;
	display: none;
	 
}

.bor{
	width: 220px;
	margin: 0 auto;
	background-color: #F8BD3B;
	border-radius: 50%;

}

.occ{
	text-align: center;
	font-size: 2em;
	color:#29BDE0; 
}
